*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f3f4f6;
    color:#111827;
}

.page{
    width:100%;
    min-height:100vh;
    padding:40px 20px;
}

.card{
    width:100%;
    max-width:1000px;
    margin:auto;
    background:white;
    border-radius:24px;
    padding:40px;
    box-shadow:0 10px 35px rgba(0,0,0,0.08);
}

.header{
    text-align:center;
    margin-bottom:35px;
}

.header h1{
    margin:0;
    font-size:38px;
}

.header p{
    color:#6b7280;
    margin-top:10px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.form-group.full{
    grid-column:1 / -1;
}

label{
    margin-bottom:8px;
    font-weight:bold;
    font-size:14px;
}

input,
select{
    width:100%;
    padding:14px;
    border:1px solid #d1d5db;
    border-radius:12px;
    font-size:15px;
    background:white;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2563eb;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:14px;
    background:#2563eb;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#1d4ed8;
}

.result{
    margin-top:25px;
    padding:25px;
    border-radius:16px;
    background:#ecfdf5;
    border:1px solid #a7f3d0;
    text-align:center;
}

.result span{
    display:block;
    margin-bottom:10px;
    color:#047857;
}

.result strong{
    font-size:34px;
    color:#065f46;
}

/* TABLET */
@media screen and (max-width:900px){

    .card{
        padding:30px;
    }

    .grid{
        grid-template-columns:1fr;
    }

    .header h1{
        font-size:32px;
    }
}

/* TELEFON */
@media screen and (max-width:600px){

    .page{
        padding:0;
    }

    .card{
        min-height:100vh;
        border-radius:0;
        padding:22px 16px;
        box-shadow:none;
    }

    .header{
        margin-bottom:25px;
    }

    .header h1{
        font-size:28px;
    }

    .header p{
        font-size:14px;
    }

    input,
    select{
        padding:13px;
        font-size:16px;
    }

    button{
        padding:15px;
        font-size:16px;
    }

    .result strong{
        font-size:28px;
    }
}
.reset-btn{
    display:block;
    text-align:center;
    margin-top:14px;
    color:#2563eb;
    font-weight:bold;
    text-decoration:none;
}

.reset-btn:hover{
    text-decoration:underline;
}

.summary{
    margin-top:14px;
    color:#047857;
    font-size:14px;
    line-height:1.5;
}